@font-face {
    font-family: 'title';
    src: url('../fonts/title.ttf');
}

@font-face {
    font-family: 'comic';
    src: url('../fonts/comic.ttf');
}

h1 {
    font-family: 'title';
}
h4 {
    font-family: 'title';
    font-size: 40px !important;
    color: #e3a8e1;
}
p {
    font-family: 'comic';
    padding: 13px;
    font-size: 20px;
}
a {
    font-family: 'comic';
    padding: 13px;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #333333;
    height: auto;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #e3a8e1;
    z-index: 1;
}

nav a {
    color: #e3a8e1 !important;
    transition: padding 0.5s ease-in-out !important; /* Añadir transición aquí */
}

nav a:hover {
    padding-left: 30px;
    padding-right: 30px;
}

header {
    background-color: #e3a8e1;
    height: 349px;
    margin-top: 60px;
    padding: 50px 50px 400px 50px;
}

#maidGif {
    width: 180px;
}

.maids{
    width: 100vw;
    z-index: 1;
}
#maids {
    position: absolute;
    top: 45vh;
    width: 50%;
}
#maids-2 {
    position: absolute;
    top: 45vh;
    left: 49vw;
    width: 50%;
}

section {
    --s: 120px; /* control the size*/
    --c1: #4f4f4f;
    --c2: #333333;
    
    --_g: 80%,var(--c1) 25.4%,#0000 20%;
    background:
        radial-gradient(at 80% var(--_g)),
        radial-gradient(at 20% var(--_g)),
        conic-gradient(from -45deg at 50% 41%,var(--c1) 90deg,var(--c2) 0) 
        calc(var(--s)/2) 0;
    background-size: var(--s) var(--s);

    padding-top:180px !important;
    padding-bottom: 50px !important;
}

#title-section {
    color: #e3a8e1;
    font-size: 100px;
}

#card {
    background: rgba(51, 51, 51, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid #e3a8e1;
    transition: 0.2s ease-in-out;
}

#card:hover {
    border: 3px solid #e3a8e1;
}

#btn-plan {
    background: #e3a8e1 !important;
    border-color: #333333;
    color: #333333;
}

.iframe-ropa {
    height: 300px;
}

form {
    color: #e3a8e1;
}

form select, form input, form textarea {
    background-color: #4f4f4f !important;
    color: #e3a8e1 !important;
    border: 1px solid #e3a8e1 !important;
}

#form-article {
    background: rgba(51, 51, 51, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid #e3a8e1;
    transition: 0.2s ease-in-out;
}

#content-article {
    background: rgba(51, 51, 51, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid #e3a8e1;
    transition: 0.2s ease-in-out;
    color: #e3a8e1;
}

footer {
    background-color: #e3a8e1;
    padding: 10px;
    text-align: center;
    color: #333333;
}
footer p {
    margin: 0;
}